body {
    background-color: #282828;
    font-family: 'Futura';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin-top: 150px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 0.1px solid rgba(240, 248, 255, 0.3);
}
