@font-face {
    font-family: 'Game Boy 1989';
    src: url('../Fonts/GameBoy1989.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendo';
    src: url('../Fonts/Pretendo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../Fonts/Helvetica-Condensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica_Condenced-Normal';
    src: url('../Fonts/Helvetica_Condenced-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('../Fonts/PokemonSolidNormal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../Fonts/Orbitron-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../Fonts/PressStart2P-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #282828;
    font-family: 'Futura';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin-top: 150px;
}
